Report of Removed bastion system.
Removed on {{ ansible_date_time.date }} at {{ ansible_date_time.time }}
This code is maintained at https://github.com/het-tanis/stream_setup/

Remote user: {{ username }} has been removed.
Remote Jail has been destroyed.