Report of deployed bastion system.
Deployed on {{ ansible_date_time.date }} at {{ ansible_date_time.time }}
This code is maintained at https://github.com/het-tanis/stream_setup/

Remote connection: prolug.asuscomm.com
A choot root jail has been deployed to allow system passthrough only.
Remote user: {{ username }}
remote temporary password: {{ password }}
dungeon system password for final hop: LinuxR0cks1!
